# Java / Spring
/target/
*.log

# Maven
.mvn/wrapper/maven-wrapper.jar

# Node / React
task-manager-frontend/node_modules/
task-manager-frontend/dist/

# Env / secrets
.env
*.env

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
# Backend build
/backend/target/

# Frontend build
/frontend/node_modules/
/frontend/dist/
